# Ignore these
00RawData/*
01Scripts/Workflow.R*
03Documents/*
02ProcessedData/*


# Don't ignore these
!00RawData/taxon.csv
!00RawData/RawData.csv
!*/.gitkeep
!02ProcessedData/_invasive_spp.csv*
!02ProcessedData/Windo_5Yr_vector_ext.csv*
!02ProcessedData/Windo_5Yr_raster_ext.csv*
